<div class="w-1/2 mx-auto" *ngIf="currentUser">
  <h1 class="text-xl text-center py-3 font-semibold">Settings</h1>
  <mc-backend-error-messages
    *ngIf="backendErrors$ | async"
    [backendErrors]="backendErrors$ | async"
  ></mc-backend-error-messages>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="p-2">
      <input
        class="w-full bg-gray-100 border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2"
        type="text"
        formControlName="image"
        placeholder="URL of profile picture"
      />
    </div>
    <div class="p-2">
      <input
        class="w-full bg-gray-100 border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2"
        type="text"
        formControlName="username"
        placeholder="Username"
      />
    </div>
    <div class="p-2">
      <input
        class="w-full bg-gray-100 border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2"
        placeholder="Email"
        formControlName="email"
        type="email"
      />
    </div>
    <div class="p-2">
      <input
        class="w-full bg-gray-100 border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2"
        type="password"
        formControlName="password"
        placeholder="New password"
      />
    </div>
    <div class="p-2 w-full">
      <textarea
        class="w-full bg-gray-100 border border-gray-400 focus:outline-none h-48 focus:border-indigo-500 text-base px-4 py-2 resize-none block"
        type="text"
        formControlName="bio"
        placeholder="Short bio about you"
      ></textarea>
    </div>
    <div class="p-2 w-full flex items-center">
      <button
        type="submit"
        [disabled]="form.invalid || (isSubmitting$ | async)"
        class="flex mx-auto text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 text-lg"
      >
        Update settings
      </button>
      <button
        (click)="logout()"
        class="flex mx-auto text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 text-lg"
      >
        Or click here to logout
      </button>
    </div>
  </form>
</div>
