<mc-loading *ngIf="isLoading$ | async"></mc-loading>

<mc-error-message
  *ngIf="error$ | async"
  [message]="error$ | async"
></mc-error-message>

<div class="sidebar" *ngIf="popularTags$ | async">
  <p>Popular Tags</p>
  <div class="mt-2">
    <a
      *ngFor="let popularTag of popularTags$ | async"
      [routerLink]="['/tags', popularTag]"
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
    >
      {{ popularTag }}
    </a>
  </div>
</div>
