<main class="pa4 black-80">
  <form [formGroup]="form" class="measure center" (ngSubmit)="onSubmit()">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="f2 fw6 ph0 mh0 tc">Sign In</legend>
      <div class="lh-copy mt1 tc">
        <a [routerLink]="['/register']" class="f6 link dim">Need an account?</a>
      </div>
      <mc-backend-error-messages
        *ngIf="backendErrors$ | async"
        [backendErrors]="backendErrors$ | async"
      ></mc-backend-error-messages>
      <div class="mt1">
        <label class="db fw6 lh-copy f6" for="email-address">Email</label>
        <input
          class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100"
          type="text"
          formControlName="email"
        />
      </div>
      <div class="mv3">
        <label class="db fw6 lh-copy f6" for="password">Password</label>
        <input
          class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100"
          type="password"
          name="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>
    </fieldset>

    <button
      class="b ph3 pv2 input-reset ba bg-light-green pointer f6 dib"
      type="submit"
      [disabled]="isSubmitting$ | async"
    >
      Sign in
    </button>
  </form>
</main>
<!--
<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign In</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/register']">Need an account?</a>
        </p>
        <mc-backend-error-messages
          *ngIf="backendErrors$ | async"
          [backendErrors]="backendErrors$ | async"
        ></mc-backend-error-messages>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Email"
                formControlName="email"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                type="password"
                class="form-control form-control-lg"
                placeholder="Password"
                formControlName="password"
              />
            </fieldset>
            <button
              class="btn btn-lg btn-primary pull-xs-right"
              type="submit"
              [disabled]="isSubmitting$ | async"
            >
              Sign in
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div> -->
