<header class="text-gray-500 bg-gray-900 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    >
      <a class="mr-5 hover:text-white" [routerLink]="['/']">Home</a>

      <ng-container *ngIf="isLoggedIn$ | async">
        <a [routerLink]="['/articles/new']" class="mr-5 hover:text-white"
          >New Post</a
        >
        <a [routerLink]="['/settings']" class="mr-5 hover:text-white"
          >Settings</a
        >
        <a
          [routerLink]="['/profiles', (currentUser$ | async).username]"
          class="mr-5 hover:text-white"
          data-cy="profileName"
        >
          <img [src]="(currentUser$ | async).image" class="" />
          {{ (currentUser$ | async).username }}</a
        >
      </ng-container>

      <ng-container *ngIf="isAnonymous$ | async">
        <a
          [routerLink]="['/login']"
          data-cy="login"
          class="mr-5 hover:text-white"
          >Sign in</a
        >
        <a
          [routerLink]="['/register']"
          data-cy="register"
          class="mr-5 hover:text-white"
          >Sign up</a
        >
      </ng-container>
    </nav>
  </div>
</header>
