<header class="bg-black-90 ph3 w-100 pv3 tc">
  <nav class="f6 fw6 ttu tracked">
    <a class="link mr3" [routerLink]="['/']">Home</a>

    <ng-container *ngIf="isLoggedIn$ | async">
      <a [routerLink]="['/articles/new']" class="link mr3">New Post</a>
      <a [routerLink]="['/settings']" class="link mr3">Settings</a>
      <a
        [routerLink]="['/profiles', (currentUser$ | async).username]"
        class="link mr3"
      >
        <img [src]="(currentUser$ | async).image" class="br-100 h2 w2" />
        {{ (currentUser$ | async).username }}</a
      >
    </ng-container>

    <ng-container *ngIf="isAnonymous$ | async">
      <a [routerLink]="['/login']" class="link mr3">Sign in</a>
      <a [routerLink]="['/register']" data-cy="register" class="link mr3"
        >Sign up</a
      >
    </ng-container>
  </nav>
</header>
