<div class="flex flex-col sm:flex-row">
  <ng-container *ngIf="isLoggedIn$ | async">
    <a
      [routerLink]="['/feed']"
      routerLinkActive="border-b-2 "
      class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"
    >
      <span>Your feed</span>
    </a>
  </ng-container>
  <a
    [routerLink]="['/']"
    routerLinkActive="border-b-2 "
    [routerLinkActiveOptions]="{ exact: true }"
    class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"
  >
    <span>Global feed</span>
  </a>
  <ng-container *ngIf="tagNameProps">
    <a
      routerLinkActive="border-b-2 "
      [routerLink]="['/tags', tagNameProps]"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none"
    >
      <i class="ion-pound"></i>
      {{ tagNameProps }}
    </a>
  </ng-container>
</div>
