<div *ngIf="userProfile">
  <div class="bg-gray-100">
    <img class="w-40 h-40 rounded-full" [src]="userProfile.image" />
    <h4>{{ userProfile.username }}</h4>
    <p>{{ userProfile.bio }}</p>
    <div>
      <a href="#"> Follow User </a>
      <a
        *ngIf="isCurrentUserProfile$ | async"
        [routerLink]="['/settings']"
        class=""
        >Edit Profile Settings</a
      >
    </div>
  </div>
  <div>
    <ul>
      <li>
        <a
          [routerLink]="['/profiles', userProfile.username]"
          routerLinkActive=""
          [routerLinkActiveOptions]="{
            exact: true,
            __change_detection_hack__: userProfile.username
          }"
        >
          My Posts
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/profiles', userProfile.username, 'favorites']"
          routerLinkActive=""
          [routerLinkActiveOptions]="{
            exact: true,
            __change_detection_hack__: userProfile.username
          }"
        >
          Favorites Posts
        </a>
      </li>
    </ul>
    <mc-feed [apiUrl]="getApiUrl()"></mc-feed>
  </div>
</div>
