<mc-loading *ngIf="isLoading$ | async"></mc-loading>

<mc-error-message *ngIf="error$ | async"></mc-error-message>

<div *ngIf="feed$ | async">
  <div
    class="article-preview"
    *ngFor="let article of (feed$ | async)?.articles"
  >
    <div class="article-meta">
      <a
        class="inline-flex items-center"
        [routerLink]="['/profiles', article.author.username]"
      >
        <img
          alt="blog"
          [src]="article.author.image"
          class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center"
        />
        <span class="flex-grow flex flex-col pl-4">
          <span class="title-font font-medium text-gray-900">{{
            article.author.username
          }}</span>
          <span class="text-gray-500 text-sm">{{ article.createdAt }}</span>
        </span>
      </a>
      <div class="pull-xs-right">
        <mc-add-to-favorites
          [isFavorited]="article.favorited"
          [articleSlug]="article.slug"
          [favoritesCount]="article.favoritesCount"
        >
        </mc-add-to-favorites>
      </div>
    </div>

    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more..</span>
      <mc-tag-list [tags]="article.tagList"></mc-tag-list>
    </a>
  </div>
  <mc-pagination
    [total]="(feed$ | async)?.articlesCount"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage"
  ></mc-pagination>
</div>
