<mc-loading *ngIf="isLoading$ | async"></mc-loading>

<mc-error-message *ngIf="error$ | async"></mc-error-message>

<div *ngIf="feed$ | async">
  <div class="" *ngFor="let article of (feed$ | async)?.articles">
    <div class="px-3 flex items-center justify-between">
      <img
        alt="blog"
        class="h-8 w-8 rounded-full"
        [src]="article.author.image"
      />
      <div>
        <a class="block" [routerLink]="['/profiles', article.author.username]">
          {{ article.author.username }}
        </a>
        <div>
          <span>{{ article.createdAt }}</span>
        </div>
      </div>

      <mc-add-to-favorites
        [isFavorited]="article.favorited"
        [articleSlug]="article.slug"
        [favoritesCount]="article.favoritesCount"
      ></mc-add-to-favorites>
    </div>

    <div class="py-10 border-b-2">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>

      <div class="flex items-center justify-between">
        <a [routerLink]="['/articles', article.slug]" class=""
          ><span>Read more..</span>
        </a>

        <mc-tag-list [tags]="article.tagList"></mc-tag-list>
      </div>
    </div>
  </div>

  <mc-pagination
    [total]="(feed$ | async)?.articlesCount"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage"
  ></mc-pagination>
</div>
